:root {
  --bg-image: url("../Images/image4.jpg");
  --text: red;
  --bg-wht: #fff;
  --bg-hover: rgba(235, 25, 110, 1);
  --bg-trans: transparent;
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --ff-body: var(--fs-400);
  --ff-section: 21px;
  --font-size: 14.9254vw;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 30px;
  --font-xl: 40px;
  --mg-calc: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: var(--ff-400);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  list-style-type: none;
  text-decoration: none;
}

.btn {
  padding: 0.5em 1em;
  background: var(--bg-trans);
  color: #fff;
  border-radius: 20em;
  border: 2px solid;
  cursor: pointer;
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(100em);
          backdrop-filter: blur(100em);
  white-space: nowrap;
}

.btn i {
  margin-right: 0.5em;
}

.btn:hover {
  -webkit-box-shadow: 0 10px 40px #eb196e;
          box-shadow: 0 10px 40px #eb196e;
}

.full-container {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.center {
  inset: 0;
  margin: auto;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(209, 185, 185, 0.6);  this adds the "card" effect */
  -webkit-box-shadow: 0 0 0 #eb196e;
          box-shadow: 0 0 0 #eb196e;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 8px 2px 0px rgba(0, 0, 0, 0.37);
          box-shadow: 5px 8px 2px 0px rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background-clip: padding-box;
  -webkit-backdrop-filter: blur(0.1em);
          backdrop-filter: blur(0.1em);
}

/*************************************
        BACKGROUND
**************************************/
#particles-js {
  background-image: url("../Images/image10.jpg");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--bg-trans);
}

/*************************************
    NAVIGATION BAR
**************************************/
.header-container {
  margin: 0 1em;
  margin-top: 2em;
  position: relative;
  z-index: 9999;
}

.nav-fixed-top {
  border-radius: 0;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: black;
  z-index: 9999;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  position: relative;
  padding: 0 2em;
  margin: auto;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  z-index: 9998;
}

.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation .logo img {
  margin-right: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.navigation .hamburger {
  display: block;
}

.navigation .hamburger .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 0.625em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
}

.navigation .hamburger .menu-btn:hover {
  border-radius: 50%;
}

.navigation .hamburger .menu-btn__burger {
  width: 1.875em;
  height: 0.25em;
  background: #fff;
  border-radius: 0.313em;
  -webkit-box-shadow: 0 2px 5px rgba(80, 59, 51, 0.2);
          box-shadow: 0 2px 5px rgba(80, 59, 51, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navigation .hamburger .menu-btn__burger:before,
.navigation .hamburger .menu-btn__burger:after {
  content: "";
  width: 1.875em;
  height: 0.25em;
  background: #fff;
  border-radius: 0.313em;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-0.625em);
          transform: translateY(-0.625em);
  position: absolute;
}

.navigation .hamburger .menu-btn__burger:after {
  -webkit-transform: translateY(0.625em);
          transform: translateY(0.625em);
}

.navigation .hamburger .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-3.125em);
          transform: translateX(-3.125em);
  background: var(--bg-trans);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation .hamburger .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(2.188em, -2.188em);
          transform: rotate(45deg) translate(2.188em, -2.188em);
}

.navigation .hamburger .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(2.188em, 2.188em);
          transform: rotate(-45deg) translate(2.188em, 2.188em);
}

.mobile-nav-menu {
  display: none;
  position: absolute;
  margin-top: 5vh;
  background-color: black !important;
  width: 100%;
  min-height: 75vh;
  padding: 1em;
  z-index: 9999;
}

.mobile-nav-menu ul li {
  margin: 0.5em;
  padding: 0.5em;
}

.mobile-nav-menu ul li a {
  padding: 0.5em;
}

.mobile-nav-menu ul li a i,
.mobile-nav-menu ul li a span {
  margin-right: 0.5em;
  height: 2em;
  width: 2em;
  color: white;
}

.mobile-nav-menu ul li a:hover {
  -webkit-box-shadow: 0 10px 40px var(--bg-hover);
          box-shadow: 0 10px 40px var(--bg-hover);
  border-radius: 10px;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/*************************************
    MAIN
**************************************/
/*section layout*/
.section {
  min-height: 75vh;
  padding: 2em;
  color: var(--bg-wht);
}

.section-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 20px 0 30px 0;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.section-title h2::after {
  content: "";
  width: 80px;
  height: 1px;
  display: inline-block;
  background: var(--bg-hover);
  margin: 4px 10px;
}

.section-title p {
  margin: -15px 0 15px 0;
  font-size: 26px;
}

.hero {
  text-align: center;
}

.hero .hero-container {
  width: 100%;
}

.hero .hero-container h1 {
  font-size: clamp(0.5rem, 2rem + 50vw, 2.5rem);
  text-align: center;
}

.hero .hero-container h1,
.hero .hero-container p,
.hero .hero-container a {
  margin: 1em;
}

.hero .hero-container a {
  display: inline-block;
}

.about {
  line-height: 1.4;
  /*.about-content * + div { at 500)
    margin-left: 2em;
  }*/
}

.about img {
  width: 10%;
  height: 10%;
  border-radius: 10px;
}

.about .about-content > div {
  margin: 2em 0;
}

.about li {
  margin-bottom: 1.2em;
  white-space: nowrap;
}

.about i {
  color: var(--bg-hover);
}

.about strong {
  font-size: 1em;
  font-weight: 900;
}

.about a {
  margin: 1em;
}

.count-up {
  padding: 1em;
  margin: 3em 0;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.count-up > div {
  margin-top: 2em;
}

.count-up::after {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: inherit;
  padding: 1.8em;
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.count-up i {
  font-size: 25px;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5em;
  color: var(--bg-wht);
  background: var(--bg-hover);
  border-radius: 50%;
  z-index: 3;
}

/*MOBILE LAYOUT FUNCTIONALITY*/
.content_inside {
  display: none !important;
}

.content_inside_active {
  display: block !important;
  width: 100%;
}

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  padding: 0 1em;
}

.profile-card {
  display: none;
}

@media screen and (min-width: 900px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page > * + * {
    margin-left: 1rem;
  }
  .navigation {
    display: none;
  }
  .content_inside {
    display: block !important;
  }
  .main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    width: 100%;
  }
  .article-content {
    display: block;
    margin-top: 10vh;
    margin-right: var(--mg-calc);
    padding: 0;
    width: 100%;
  }
  /*************************************
    NAVIGATION BAR
  **************************************/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header-container {
    max-height: 625px;
    width: 256px;
    margin-top: 10vh;
    margin-left: var(--mg-calc);
    overflow: auto;
  }
  .profile-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 80%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    color: #fcfafa;
  }
  .profile-card .details,
  .profile-card .nav-menu,
  .profile-card .social {
    background: 0;
  }
  .profile-card footer p {
    font-size: 0.75em;
    color: #a8a9b4;
  }
  .details img {
    margin-top: 1.5em;
    background: red;
    display: block;
    width: 6em;
    height: 6em;
    margin-left: 1em;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 35px #eb196e;
            box-shadow: 0 0 35px #eb196e;
  }
  .details h4 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-top: 1.4em;
  }
  .details h6 {
    font-size: 0.8em;
    color: #cacbd1;
    margin-top: 1em;
  }
  .nav-menu {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a {
    display: block;
    position: relative;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    -webkit-transition: 1s;
    transition: 1s;
    width: 60%;
    color: white;
    margin: 0.5em 0;
  }
  .nav-menu a i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1em;
    height: 1.9em;
    width: 1.9em;
  }
  .nav-menu a:hover,
  .nav-menu a .active {
    margin-left: 1em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 25px #eb196e;
            box-shadow: 0 0 25px #eb196e;
    border-radius: 10px;
    width: 100%;
  }
  .header-container .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }
  .header-container .social-icons i {
    color: #fff;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
  }
  .header-container .social-icons a {
    display: inline-block;
  }
  .header-container .social-icons a:before {
    -webkit-transform: scale(1);
            transform: scale(1);
    content: "";
    width: 1.875em;
    height: 1.875em;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff003c, #c648c8);
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
  }
  .header-container .social-icons a:hover:before {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
  }
  .header-container .social-icons a:hover i {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    color: #ff003c;
    background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
  }
  /* scrollbar for I.E */
  .header-container {
    scrollbar-base-color: #201f1f;
    scrollbar-face-color: #d6d3d3;
    scrollbar-arrow-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: rgba(0, 0, 0, 0.9);
    scrollbar-shadow-color: transparent;
  }
  /* scrollbar */
  .header-container .profile-card::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(199, 191, 191, 0.3);
    box-shadow: inset 0 0 6px rgba(199, 191, 191, 0.3);
    border-radius: 10px;
    margin: 50px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  .section {
    min-height: 625px;
    margin-bottom: 2vh;
  }
  .section:nth-child(1) {
    margin-bottom: 10vh;
  }
}

[id] {
  scroll-margin: 10vh;
}

@media screen and (min-width: 900px) {
  :root {
    --mg-calc: 50px;
  }
  /*
  .header-container {
    margin-left: 50px !important;
  }
  .article-content {
    margin-right: 50px !important;
  }
  */
}

@media screen and (min-width: 1200px) {
  :root {
    --mg-calc: 150px;
  }
  .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  /*.header-container {
    margin-left: 150px !important;
  }
  .article-content {
    margin-right: 150px !important;
  }
  */
}

@media screen and (min-width: 1930px) {
  :root {
    --mg-calc: 200px;
  }
  /*
  .header-container {
    width: 300px;
    margin-left: 200px !important;
  }
  .article-content {
    margin-right: 200px !important;
  }
  html {
    font-size: 20px !important;
  }
  */
}

@media screen and (min-width: 3440px) {
  :root {
    --mg-calc: 25vw;
  }
  /*
  .header-container {
    width: 600px;
    margin-left: 500px !important;
  }
  .article-content {
    margin-right: 500px !important;
  }
  html {
    font-size: 40px !important;
  }
  */
}

.info-box {
  margin: 1.5em 0;
  padding: 1em;
  width: 100%;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}

.info-box i {
  padding: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;
  margin: auto;
  justify-self: flex-start;
  color: var(--bg-hover);
  font-size: 18px;
}

.info-box h3 {
  color: rgba(255, 255, 255, 0.5);
}

.info-box .social-icons i {
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
  color: white;
}

.info-box .social-icons i:hover {
  border: 1px solid var(--bg-hover);
}

form {
  width: 100%;
}

form .btn {
  margin: 1em auto;
}

input,
textarea {
  border: none;
  outline: none;
  width: 100%;
  margin: 1em 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 1em;
  caret-color: var(--bg-wht);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.mid {
  background: red;
}

.float {
  float: right;
}

.portfolio-container {
  margin: auto;
  position: relative;
  border: 2px solid red;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 2px solid green;
}

.portfolio img {
  height: 250px;
  width: 250px;
}

.portfolio .portfolio-wrap {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.portfolio:first-child {
  height: 400px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #63eda3;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
/*# sourceMappingURL=main.css.map */