:root {
  --bg-image: url("/Images/image7.jpg");
  --text: red;
  --bg-wht: #fff;
  --bg-hover: rgba(235, 25, 110, 1);
  --bg-trans: transparent;
  --bg-neutral: rgba(255, 255, 255, 0.5);
  --bg-net: rgba(255, 255, 255, 0.1);
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --ff-body: var(--fs-400);
  --ff-section: 21px;
  --font-size: 14.9254vw;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 30px;
  --font-xl: 40px;
  --mg-calc: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: var(--ff-400);
  font-weight: 400;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  list-style-type: none;
  text-decoration: none;
}

.btn {
  padding: 0.3em 1em;
  background: var(--bg-trans);
  color: var(--bg-wht);
  border-radius: 20em;
  border: 1px solid;
  cursor: pointer;
  background-clip: padding-box;
  white-space: nowrap;
  position: relative;
}

.btn i {
  margin-right: 0.5em;
  color: var(--bg-hover);
}

.btn:hover {
  -webkit-box-shadow: 0 0px 15px var(--bg-hover);
          box-shadow: 0 0px 15px var(--bg-hover);
}

.full-container {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.center {
  inset: 0;
  margin: auto;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background-clip: padding-box;
}

/*************************************
        BACKGROUND
**************************************/
#tsparticles {
  background-image: var(--bg-image);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-transition: all 700ms ease-in;
  transition: all 700ms ease-in;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--bg-trans);
}

/*************************************
    NAVIGATION BAR
**************************************/
.header-container {
  margin: 2em 1em;
  position: relative;
  z-index: 9999;
}

.nav-fixed-top {
  border-radius: 0;
  margin: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: black;
  z-index: 9999;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  position: relative;
  padding: 0 1em;
  margin: auto;
  border-radius: 20px;
  width: 100%;
  font-size: 14px;
  z-index: 9998;
}

.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation .logo img {
  margin-right: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.navigation .hamburger {
  display: block;
}

.navigation .hamburger .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 0.625em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
}

.navigation .hamburger .menu-btn:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px var(--bg-hover);
          box-shadow: 0 0 15px var(--bg-hover);
}

.navigation .hamburger .menu-btn__burger {
  width: 1.875em;
  height: 0.25em;
  background: var(--bg-wht);
  border-radius: 0.313em;
  -webkit-box-shadow: 0 2px 5px rgba(80, 59, 51, 0.2);
          box-shadow: 0 2px 5px rgba(80, 59, 51, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navigation .hamburger .menu-btn__burger:before,
.navigation .hamburger .menu-btn__burger:after {
  content: "";
  width: 1.875em;
  height: 0.25em;
  background: var(--bg-wht);
  border-radius: 0.313em;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-0.625em);
          transform: translateY(-0.625em);
  position: absolute;
}

.navigation .hamburger .menu-btn__burger:after {
  -webkit-transform: translateY(0.625em);
          transform: translateY(0.625em);
}

.navigation .hamburger .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-3.125em);
          transform: translateX(-3.125em);
  background: var(--bg-trans);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation .hamburger .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(2.188em, -2.188em);
          transform: rotate(45deg) translate(2.188em, -2.188em);
}

.navigation .hamburger .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(2.188em, 2.188em);
          transform: rotate(-45deg) translate(2.188em, 2.188em);
}

.mobile-nav-menu {
  display: none;
  position: absolute;
  margin-top: 5vh;
  background-color: black !important;
  width: 100%;
  min-height: 75vh;
  padding: 1em;
  z-index: 9999;
}

.mobile-nav-menu ul li {
  margin: 0.5em;
  padding: 0.5em;
}

.mobile-nav-menu ul li a {
  padding: 0.5em;
}

.mobile-nav-menu ul li a i,
.mobile-nav-menu ul li a span {
  margin-right: 0.5em;
  height: 2em;
  width: 2em;
  color: white;
}

.mobile-nav-menu ul li a:hover {
  -webkit-box-shadow: 0 0 15px var(--bg-hover);
          box-shadow: 0 0 15px var(--bg-hover);
  border-radius: 10px;
  margin-left: 25px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/*************************************
    MAIN
**************************************/
/*section layout*/
.section {
  min-height: 75vh;
  padding: 1.5em;
  color: var(--bg-wht);
  margin-bottom: 20px;
  line-height: 1.5;
}

.section-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 20px 0 30px 0;
  letter-spacing: 2px;
  color: #aaaaaa;
}

.section-title h2::after {
  content: "";
  width: 80px;
  height: 1px;
  display: inline-block;
  background: var(--bg-hover);
  margin: 4px 10px;
}

.section-title p {
  margin: -15px 0 15px 0;
  font-size: 26px;
}

.hero {
  text-align: center;
}

.hero .hero-container {
  width: 100%;
}

.hero .hero-container h1 {
  font-size: clamp(0.2rem, 2rem + 50vw, 2.5rem);
  text-align: center;
  color: white;
  line-height: normal;
}

.hero .hero-container h1,
.hero .hero-container p,
.hero .hero-container a {
  margin: 1em;
}

.hero .hero-container a {
  display: inline-block;
}

.about {
  line-height: 1.4;
}

.about img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.about li {
  margin-bottom: 1em;
  white-space: nowrap;
}

.about i {
  color: var(--bg-hover);
}

.about strong {
  font-size: 1em;
  font-weight: 900;
}

.about a {
  margin: 1em;
}

.about .tools {
  padding: 10px;
  margin-top: 2em;
}

.about .tools i {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40px;
          flex: 1 1 40px;
  font-size: 40px;
  color: var(--bg-hover);
}

/*************************************
    COUNTER
**************************************/
.counterTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-top: 4em;
}

.count-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0.5em;
  margin: 1.2em 0;
  text-align: center;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20px;
          flex: 1 1 20px;
  min-width: 260px;
}

.count-up > div {
  margin-top: 2em;
}

.count-up::after {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: inherit;
  padding: 1.8em;
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.count-up i, .count-up img {
  font-size: 25px;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5em;
  color: var(--bg-wht);
  background: var(--bg-hover);
  border-radius: 50%;
  z-index: 3;
}

.count-up img {
  height: 50px !important;
  width: 50px !important;
  padding: 0 !important;
}

/*************************************
    SERVICES 
**************************************/
#services li i {
  color: var(--bg-hover);
}

#services h1 {
  padding: 0;
  margin: 0;
  color: var(--bg-hover);
}

/*************************************
    PORTFOLIO
**************************************/
.section {
  margin-bottom: 10vh;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.empty-wrap {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.portfolio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  border-radius: 0.5em;
  border: 0.1px solid #242323;
}

.portfolio-wrap img {
  height: 100%;
  width: 100%;
}

.portfolio-wrap h1 {
  margin-bottom: 0;
}

.portfolio-wrap a {
  margin: 1em auto;
}

.portfolio-wrap .blog {
  margin-bottom: 1em;
}

.portfolio-wrap .btn {
  padding: 0.3em 0.5em;
}

.portfolio-wrap .btn i {
  margin-left: 0.5em;
  margin-right: 0;
  font-size: 0.8em;
}

/*************************************
    CONTACT
**************************************/
.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1.5em 0;
  padding: 1em;
  width: 100%;
  min-width: 280px;
  border-radius: 0.5em;
  border: 0.1px solid #242323;
  background-color: rgba(0, 0, 0, 0.8);
}

.info-box i {
  padding: 1.1em;
  background: var(--bg-net);
  border: 1px solid transparent;
  border-radius: 50%;
  margin: auto;
  justify-self: flex-start;
  color: var(--bg-hover);
  font-size: 18px;
}

.info-box h3 {
  color: var(--bg-neutral);
}

.info-box .social-icons i {
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
  color: white;
}

.info-box .social-icons i:hover {
  -webkit-box-shadow: 0 0 15px var(--bg-hover);
          box-shadow: 0 0 15px var(--bg-hover);
}

form {
  width: 100%;
}

form .btn {
  margin: 1em auto;
}

form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  background: var(--bg-net);
  caret-color: var(--bg-wht);
  color: var(--bg-wht);
  border-radius: 0.3em;
  border: 0.1px solid #242323;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: var(--bg-neutral);
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: var(--bg-neutral);
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: var(--bg-neutral);
}

form input::placeholder,
form textarea::placeholder {
  color: var(--bg-neutral);
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

/*MOBILE LAYOUT FUNCTIONALITY*/
.content_inside {
  display: none !important;
}

.content_inside_active {
  display: block !important;
  width: 100%;
}

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
  padding: 0 1em;
}

.profile-card {
  display: none;
}

/***************************
LARGER SCREENS
***************************/
@media screen and (min-width: 900px) {
  :root {
    --mg-calc: 50px;
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page > * + * {
    margin-left: 1rem;
  }
  .navigation {
    display: none;
  }
  .content_inside {
    display: block !important;
  }
  .main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    width: 100%;
  }
  .article-content {
    display: block;
    margin-top: 10vh;
    margin-right: var(--mg-calc);
    padding: 0;
    width: 100%;
  }
  /*************************************
    NAVIGATION BAR
  **************************************/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header-container {
    max-height: 625px;
    width: 256px;
    margin-top: 10vh;
    margin-left: var(--mg-calc);
    overflow: auto;
  }
  .profile-card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 80%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    color: #fcfafa;
  }
  .profile-card .details,
  .profile-card .nav-menu,
  .profile-card .social,
  .profile-card footer {
    background: var(--bg-trans);
  }
  .profile-card footer p {
    font-size: 0.75em;
    color: #a8a9b4;
  }
  .details img {
    margin-top: 1.5em;
    display: block;
    width: 5.5em;
    height: 5.5em;
    margin-left: 1em;
    border-radius: 50%;
    border: 1px solid var(--bg-wht);
    -webkit-box-shadow: 0 0 15px var(--bg-hover);
            box-shadow: 0 0 15px var(--bg-hover);
  }
  .details h4 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-top: 1em;
  }
  .details h6 {
    font-size: 0.7em;
    color: #cacbd1;
    margin-top: 1em;
  }
  .nav-menu {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a {
    display: block;
    position: relative;
    font-size: 0.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    -webkit-transition: 1s;
    transition: 1s;
    width: 100%;
    color: white;
    margin: 0.5em 0;
  }
  .nav-menu a i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1em;
    height: 1.9em;
    width: 1.9em;
  }
  .nav-menu a:hover,
  .nav-menu a .active {
    margin-left: 1em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 15px var(--bg-hover);
            box-shadow: 0 0 15px var(--bg-hover);
    border-radius: 10px;
    width: 100%;
  }
  .header-container .social {
    margin-top: 1.5em;
  }
  .header-container .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
  }
  .header-container .social-icons i {
    color: #fff;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
  }
  .header-container .social-icons a {
    display: inline-block;
  }
  .header-container .social-icons a:before {
    -webkit-transform: scale(1);
            transform: scale(1);
    content: "";
    width: 1.875em;
    height: 1.875em;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff003c, #c648c8);
    -webkit-transition: all 265ms ease-out;
    transition: all 265ms ease-out;
  }
  .header-container .social-icons a:hover:before {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
  }
  .header-container .social-icons a:hover i {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    color: #ff003c;
    background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 265ms ease-in;
    transition: all 265ms ease-in;
  }
  /* scrollbar for I.E */
  .header-container {
    scrollbar-base-color: #201f1f;
    scrollbar-face-color: #d6d3d3;
    scrollbar-arrow-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: rgba(0, 0, 0, 0.9);
    scrollbar-shadow-color: transparent;
  }
  /* scrollbar */
  .header-container .profile-card::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(199, 191, 191, 0.3);
    box-shadow: inset 0 0 6px rgba(199, 191, 191, 0.3);
    border-radius: 10px;
    margin: 50px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  .section {
    min-height: 625px;
    margin-bottom: 10vh;
  }
  .slider-container {
    max-width: calc(450px - var(--mg-calc)) !important;
  }
  /*************************************
    SCROLL BUTTON
**************************************/
  .back-to-top {
    position: fixed;
    right: 1em;
    bottom: 5px;
    z-index: 9999;
    -webkit-box-shadow: 0 0px 15px var(--bg-wht);
            box-shadow: 0 0px 15px var(--bg-wht);
    border-radius: 50px;
  }
  .back-to-top:hover {
    -webkit-box-shadow: 0 0px 15px var(--bg-hover);
            box-shadow: 0 0px 15px var(--bg-hover);
    border: 1px solid var(--bg-trans);
  }
  .back-to-top i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: var(--bg-hover);
    color: var(--bg-wht);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin: 5px;
    z-index: 99999;
  }
  [id] {
    scroll-margin: 10vh;
  }
}

@media screen and (max-width: 500px) {
  .counterTab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0em;
  }
  .about .tools i {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20px;
            flex: 1 1 20px;
    font-size: 30px;
  }
  .hero .hero-container h1 {
    font-size: clamp(0.2rem, 2rem + 50vw, 1.5rem);
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --mg-calc: 150px;
  }
  .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
  .split > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .slider-container {
    max-width: calc(900px - var(--mg-calc)) !important;
  }
}

@media screen and (min-width: 1930px) {
  :root {
    --mg-calc: 200px;
  }
}

@media screen and (min-width: 2000px) {
  :root {
    --mg-calc: 30vw;
  }
}

@media screen and (min-width: 3000px) {
  :root {
    --mg-calc: 40vw;
  }
}
/*# sourceMappingURL=main.css.map */